/* Set the basic style for the body */
body {
  background-color: #f0f8ff;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  position: relative;
}

/* Define the style for header */
header {
  text-align: center;
  padding: 20px;
  background-color: #66b3ff;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Set style for header's h1 */
header h1 {
  color: white;
  font-size: 3em;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

/* Define the style for the search container */
#search-container {
  position: relative;
  margin-top: 10vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Define style for search form */
#search-form {
  display: flex;
}

/* Define style for search elements */
#search-elements {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Set style for search input */
#search-input {
  flex: 4;
  padding: 10px;
  border: 2px solid #66b3ff;
  border-radius: 5px 0px 0px 5px;
}

/* Define style for search form button */
#search-form button {
  flex: 1;
  padding: 10px 20px;
  background-color: #66b3ff;
  color: white;
  border: 2px solid #66b3ff;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

/* Define hover style for search form button */
#search-form button:hover {
  background-color: #80ccff;
}

/* Define style for company link */
#company-link {
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Set style for footer */
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 0.7em;
  color: #808080;
}

/* Define style for company page */
#company-page {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

/* Define style for company navigation */
#company-nav {
  flex: 1;
  margin-right: 20px;
}

/* Define style for unordered lists in company navigation */
#company-nav ul {
  list-style-type: none;
  padding: 0;
}

/* Set style for list items in company navigation */
#company-nav li {
  background-color: #66b3ff;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Define style for company content */
#company-content {
  flex: 4;
}

/* Define style for articles in company content */
#company-content article {
  background-color: #f0f8ff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #66b3ff;
}

/* Define style for home link */
#home-link {
  position: fixed;
  bottom: 0;
  right: 0;
}
